.cabecalho {
    display: flex;        
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #e7e7e7;


}
.cabecalho span{
    display: flex;
    font-size: 1.5em;
    justify-content: flex-start;
    font-weight: 600;
    
}

span.manha{
    color: rgb(8, 82, 219);
}
span.tarde{
    color: rgb(227, 94, 45);
}
span.noite{
    color: rgb(18, 6, 2);
}
img{
    display: flex;
    
    width: 60px;
    height: 60px;
}